
.header{
	width: 100%;
	position: relative;
	background-image: url("../../images/baseballbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20% 50%;	
	font-family: 'Cinzel', serif;
	
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 90px 0 20px 0; 
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Permanent Marker', cursive;
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 40px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Permanent Marker', cursive;
}
